In [23]:
import pandas as pd
import matplotlib.pyplot as plt
import shapefile as shp
import seaborn as sns
import geopandas as gpd
from ipywidgets import interact, interact_manual
from folium.plugins import StripePattern
import ipyleaflet
import requests
from ipywidgets import link, FloatSlider
from branca.colormap import linear
import json
import warnings
warnings.filterwarnings('ignore')

In [24]:
df = pd.read_csv('../data/covid_data/CovidFaelle_Altersgruppe.csv', delimiter=';')

In [25]:
df_temp = df[(df['Time'] == '10.11.2022 00:00:00')]

In [26]:
df_without_total = df_temp[(df_temp['Bundesland'].str.contains('Niederösterreich') == True) | (df_temp['Bundesland'].str.contains('Wien') == True)]

In [27]:
df_without_total.sort_values('AltersgruppeID', inplace=True)

In [29]:
df_without_total['Altersgruppe'].replace(['<5', '5-14', '15-24', '25-34', '35-44', '45-54', '55-64'], ['<65', '<65', '<65', '<65', '<65', '<65', '<65'], inplace=True)

In [31]:
df_without_total.drop(['AltersgruppeID', 'BundeslandID', 'Time'], axis=1, inplace=True)

In [33]:
df_without_total = df_without_total.groupby(['Altersgruppe', 'Bundesland', 'Geschlecht']).sum()

In [34]:
df_without_total['Proportion of death/100'] = (df_without_total['AnzahlTot'] / df_without_total['AnzEinwohner']) * 100

In [35]:
df_without_total.reset_index(inplace=True)

In [36]:
df_temp = df_without_total.drop(['AnzEinwohner', 'Anzahl', 'AnzahlGeheilt', 'AnzahlTot'], axis=1)

In [37]:
df_temp.to_csv('data.csv')

In [38]:
df_temp

   Altersgruppe        Bundesland Geschlecht  Proportion of death/100
0         65-74  Niederösterreich          M                 0.524454
1         65-74  Niederösterreich          W                 0.229511
2         65-74              Wien          M                 0.615776
3         65-74              Wien          W                 0.335242
4         75-84  Niederösterreich          M                 1.405950
5         75-84  Niederösterreich          W                 0.813133
6         75-84              Wien          M                 1.652590
7         75-84              Wien          W                 0.893988
8           <65  Niederösterreich          M                 0.043315
9           <65  Niederösterreich          W                 0.020884
10          <65              Wien          M                 0.038108
11          <65              Wien          W                 0.019054
12          >84  Niederösterreich          M                 4.444732
13          >84  Niederösterreich          W                 3.392027
14          >84              Wien          M                 5.359443
15          >84              Wien          W                 4.162195

In [42]:
df_temp.groupby(['Bundesland', 'Altersgruppe']).sum()

                               Proportion of death/100
Bundesland       Altersgruppe
Niederösterreich 65-74                        0.753966
                 75-84                        2.219084
                 <65                          0.064199
                 >84                          7.836758
Wien             65-74                        0.951018
                 75-84                        2.546578
                 <65                          0.057162
                 >84                          9.521639